
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <a class="btn btn-sm btn-primary" href="/student">Back</a>
                <br>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h2>all student</h2>
                        <hr>
                  
                        <form action="/student" method="POST" enctype="multipart/form-data">
                            <div class="my-3">
                                <label for="">Name</label>
                                <input name="name" class="form-control" type="text">
                            </div>
                            <div class="my-3">
                                <label for="">Email</label>
                                <input name="email" class="form-control" type="text">
                            </div>
                            <div class="my-3">
                                <label for="">Cell</label>
                                <input name="cell" class="form-control" type="text">
                            </div>
                            <div class="my-3">
                                <label for="">Photo</label>
                                <input name="photo" class="" type="file">
                                <div class="my-3">
                                    <input  type="submit" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


